
body {
    margin: 0;
    text-align: center;
}
button {
    outline: 0;
    border: none;
    cursor: pointer;
}
.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    background: url(../images/background.png) center no-repeat;
    background-size: cover;
}

.game__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30%;
    margin-top: 100px;
}

.game__button {
    width: 60px;
    height: 60px;
    background-color: wheat;
    border: 4px solid #222;
    border-radius: 4px;
    font-size: 24px;
    transition: all .2s ease-in;
}
.game__button:hover {
    transform: scale(1.1);
}

.game__timer {
    width: 200px;
    background: #1c1616;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    margin-top: 8px;
    color: #fff;
    visibility: hidden;
}

.game__score {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darksalmon;
    font-size: 46px;
    line-height: 50px;
    color: #fff;
    margin-top: 10px;
    border: 4px solid #000;
    visibility: hidden;
}

.game__field {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
.game__field img {
    position: absolute;
    cursor: pointer;
}

.pop-up {
    position: absolute;
    left: 50%;
    top: 55%;
    width: 400px;
    height: 140px;
    padding-top: 30px;
    background-color: #00000090;
    /* opacity: .7; */
    color: white;
    text-align: center;
    border-radius: 20px;
    transform: translate(-50%, 0);
}
.pop-up__refresh {
    width: 60px;
    height: 60px;
    background: wheat;
    border-radius: 50%;
    font-size: 24px;
}
.pop-up__message {
    display: block;
    font-size: 38px;
}
.pop-up--hide {
    display: none;
}